@model AmsApp.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">CategoryTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryTitle)
    </div>

    <div class="display-label">CategoryDesc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryDesc)
    </div>

    <div class="display-label">CategoryActiveInd</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryActiveInd)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
