
@model AmsApp.Models.User
@{
    ViewBag.Title = "Json";
}
<!-- this is a comment !!-->
<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <h2>Json</h2>
    <div><p>
    {"User":[
    {"firstName":"@Html.DisplayFor(model => model.FirstName)", 
    "LastName":"@Html.DisplayFor(model => model.LastName)",
    "Email":"@Html.DisplayFor(model => model.Email)",
     "RoleId":"@Html.DisplayFor(model => model.RoleId)"
        }
]}

         </p></div>


   
</fieldset>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>


