@model IEnumerable<AmsApp.Models.AbstractKeywords>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            AbstractId
        </th>
        <th>
            KeywordsId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AbstractId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeywordsId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AbstractKeywordsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AbstractKeywordsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AbstractKeywordsId })
        </td>
    </tr>
}

</table>
