@model AmsApp.Models.Role

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Role</legend>

        @Html.HiddenFor(model => model.RoleId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleTitle)
            @Html.ValidationMessageFor(model => model.RoleTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleActiveInd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleActiveInd)
            @Html.ValidationMessageFor(model => model.RoleActiveInd)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
